/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Layouts/style.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.bgclr{
    background-color: aliceblue !important;
    border-radius: 50% !important;
    padding: 50px !important;
}
